.container{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    /* background-color: var(--bgSoft); */
    padding: 20px;
    border-radius: 10px;
}
.paginationBtn{
    padding: 10px;
    border-radius: 10px;
    background-color: var(--hoverSoft);
    color: var(--text);
    cursor: pointer;
    border: 1px solid transparent;
    outline: none;
    width: 80px;
    height: 40px;
    font-size: 14px;
}

.paginationBtn:hover{
    background-color: var(--bg);
    border: 1px solid var(--hoverSoft);
}
.paginationBtn:disabled{
    background-color: var(--bgSoft);
    color: var(--textSoft);
    cursor: not-allowed;
}
.paginationCount{
    padding: 10px;
    border-radius: 10px;
    /* background-color: var(--hoverSoft); */
    color: var(--textSoft);
    font-size: 14px;
    font-weight: 300;
}